<%= link_to "create discount", new_merchant_bulk_discount_path, method: :get%>

  <% @merchant.bulk_discounts.each do |bd|%>
    <div id=<%= bd.id %>>
     <p> Discount </p>
      <p> Discount Percentage:<%= bd.percentage_discount %></p>
      <p> Threshold: <%= bd.quantity_threshold %></p>
      <%= link_to "view discount", merchant_bulk_discount_path(id: bd.id) %>
      <%= link_to "delete discount", merchant_bulk_discount_path(id: bd.id), method: :delete %>
      </div>
  <% end %>

